body {
    font-family:'Helvetica';
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    transition: all .2s ease-in-out; 
    transform: scale(1.1); 
}
h1 {
    font-size: 3em;
    font-family:'Helvetica';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica';
}
h3 {
    font-size: 1.75em;
    font-family:'Helvetica';
}
p {
    font-family:'Helvetica';
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
iframe {
    height: 800;
    width: 1000;
    resize: both;
    overflow: auto;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    /*margin: 20px auto 40px;*/ 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
#about {
    width: 40%;
    max-width: 200;
    height: auto;
}
#special {
    font-size: 1.75em;
    font-weight: bold;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logo {
    width: 20%;
    max-width: 50;
    height: auto;
}
#pages {
    /*margin-left: auto;*/
}